<%- include('components/header', { title: 'Opprett Flokk' }) %>

<h2>Opprett en ny flokk</h2>
<form action="/flokk/create" method="POST">
    <div class="form-group">
      <label for="flokkName">Flokk navn:</label>
      <input type="text" class="form-control" id="flokkName" name="flokkName" required>
    </div>
    <div class="form-group">
      <label for="buemerkeName">Buemerke navn:</label>
      <input type="text" class="form-control" id="buemerkeName" name="buemerkeName" required>
    </div>
    <div class="form-group">
      <label for="buemerkeImage">Buemerke (copy image adress):</label>
      <input type="text" class="form-control" id="buemerkeImage" name="buemerkeImage">
    </div>
    <div class="form-group">
        <label for="beiteArea">Velg Beiteområde:</label>
        <select class="form-control" id="beiteArea" name="beiteArea">
          <% if (beiteAreas) { %>
            <% beiteAreas.forEach(area => { %>
              <option value="<%= area._id %>"><%= area.primaryArea %> (<%= area.counties.join(', ') %>)</option>
            <% }) %>
          <% } %>
        </select>
      </div>
      
    
    <button type="submit" class="btn btn-primary">Opprett flokk</button>
  </form>

<%- include('components/footer') %>
