<%- include('components/header', { title: 'Hjem' }) %>

<div class="jumbotron text-center mb-4">
  <h1 class="display-4">Velkommen til Kukkik Ano Reinsdyrregister</h1>
  <p class="lead">Søk etter reinsdyr, eiere, flokker eller beiteområder</p>
  
  <form id="searchForm" class="form-inline justify-content-center mb-4">
    <div class="input-group">
      <input class="form-control" type="text" id="searchInput" placeholder="Søk på flokk, reinsdyr, beiteområder..." aria-label="Søk">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">Søk</button>
      </div>
    </div>
  </form>  
</div>

<%- include('components/flash') %>

<% if (flokker && flokker.length > 0) { %>
  <div class="container mb-4">
    <h4>Mine Flokker</h4>
    <ul class="list-group">
      <% flokker.forEach(function(flokk) { %>
        <li class="list-group-item">
          <a href="/flokk/<%= flokk._id %>"><%= flokk.flokkName %> - <%= flokk.buemerkeName %></a>
        </li>
      <% }) %>
    </ul>
  </div>
<% } %>


<div id="resultsContainer" class="mt-4">
</div>

<script>
  document.getElementById('searchForm').addEventListener('submit', async (e) => {
    e.preventDefault();
    
    const searchQuery = document.getElementById('searchInput').value;

    if (!searchQuery) {
      return;
    }

    try {
      const response = await fetch(`/search?q=${encodeURIComponent(searchQuery)}`);
      const data = await response.json();

      if (data.message) {
        document.getElementById('resultsContainer').innerHTML = `<p>${data.message}</p>`;
        return;
      }

      const resultsContainer = document.getElementById('resultsContainer');
      resultsContainer.innerHTML = '';

      if (data.results.flokk.length > 0) {
        resultsContainer.innerHTML += '<h4 class="mt-4">Flokker:</h4>';
        resultsContainer.innerHTML += '<ul class="mb-4">'; 
        data.results.flokk.forEach(flokk => {
          resultsContainer.innerHTML += `
            <li>
              <a href="/flokk/${flokk._id}">${flokk.flokkName} - ${flokk.buemerkeName}</a>
            </li>
          `;
        });
        resultsContainer.innerHTML += '</ul>';
      }

      if (data.results.reindeer.length > 0) {
        resultsContainer.innerHTML += '<h4 class="mt-4">Reinsdyr:</h4>'; 
        resultsContainer.innerHTML += '<ul class="mb-4">';
        data.results.reindeer.forEach(reindeer => {
          resultsContainer.innerHTML += `
          <li>
            ${reindeer.name} - ${reindeer.serialNumber}
          </li>`;
        });
        resultsContainer.innerHTML += '</ul>';
      }

      if (data.results.beiteArea.length > 0) {
        resultsContainer.innerHTML += '<h4 class="mt-4">Beiteområder:</h4>';
        resultsContainer.innerHTML += '<ul class="mb-4">';
        data.results.beiteArea.forEach(area => {
          resultsContainer.innerHTML += `<li>${area.primaryArea} - ${area.counties.join(', ')}</li>`;
        });
        resultsContainer.innerHTML += '</ul>';
      }

      if (!data.results.flokk.length && !data.results.reindeer.length && !data.results.beiteArea.length) {
        resultsContainer.innerHTML = '<p>Ingen resultater funnet.</p>';
      }

    } catch (error) {
      console.error(error);
    }
  });
</script>

<%- include('components/footer') %>
